<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>Controller.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContAbo</servlet-name>
        <servlet-class>Controller.ServletContAbo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModalidad</servlet-name>
        <servlet-class>Controller.ServletModalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReservacion</servlet-name>
        <servlet-class>Controller.ServletReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAbog</servlet-name>
        <servlet-class>Controller.ServAbog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServController</servlet-name>
        <servlet-class>Controller.ServController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServControl</servlet-name>
        <servlet-class>Controller.ServControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLM</servlet-name>
        <servlet-class>Controller.ServLM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServNotificacion</servlet-name>
        <servlet-class>Controller.ServNotificacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/ServletCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContAbo</servlet-name>
        <url-pattern>/ServletContAbo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModalidad</servlet-name>
        <url-pattern>/ServletModalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReservacion</servlet-name>
        <url-pattern>/ServletReservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAbog</servlet-name>
        <url-pattern>/ServAbog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServController</servlet-name>
        <url-pattern>/ServController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServControl</servlet-name>
        <url-pattern>/ServControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLM</servlet-name>
        <url-pattern>/ServLM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServNotificacion</servlet-name>
        <url-pattern>/ServNotificacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
